<div class="inner">
          <!--<h3 class="masthead-brand">Cover</h3>-->
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/register/">Register</a>
            <a class="nav-link" href="/draw/send/">My Draws</a>
            <!--<a class="nav-link" href="#">Log In</a> TODO Implement login -->
          </nav>
</div>
