<div class="inner">
  <!--<h3 class="masthead-brand">Cover</h3>-->

  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menu" aria-expanded="false">
    <span class="sr-only"> Toggle Navigation </span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <nav class="navbar bg-light justify-content-center mb-3 collapse navbar-collaps">
    <a class="btn btn-block btn-danger" href="/" >Home</a>
    <a class="btn btn-block btn-default" href="/register/" >Register</a>
    <a class="btn btn-block btn-danger" href="/draw/send/" >My Draws</a>
    <a class="btn btn-block btn-default" href="/users/" >[Admin] Users</a>
    <a class="btn btn-block btn-danger" href="/draws/" >[Admin] Draws</a>
    <!--<a class="nav-link" href="#">Log In</a> TODO Implement login -->
  </nav>
</div>
