
  <div class="navbar navbar-expand-lg navbar-light bg-0 navbar-static-top">
    <div class="container">

      <a class="navbar-brand" href="#">
        <img src="/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
        Secret Santa
      </a>
      <!-- <button type="button" class="btn button-success navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menu" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      <div id="header-menu" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">

        <li><a class="nav-link" href="/" >Home</a></li>
        <li><a class="nav-link" href="/register/" >Register</a></li>
        <li><a class="nav-link" href="/draw/send/" >My Draws</a></li>
        <li><a class="nav-link" href="/users/" >[Admin] Users</a></li>
        <li><a class="nav-link" href="/draws/" >[Admin] Draws</a></li>
        <!--<a class="nav-link" href="#">Log In</a> TODO Implement login -->
      </div>
    </div>
  </div>
