<html>
<head>
  <% include partials/head %>
</head>

<body class="text-center">

  <div class="container-fluid h-100">

    <div class="row h-100">
        <% include partials/left %>

        <% include partials/right_start %>
      <div class="text-center">
      <h1 class="cover-heading"><%= title %></h1>
      <p class="lead"> Secret Santa is a fun Christmas web app that allows you to register your whole friends, family or work group. You will then be able to prompt a random draw with private email notification </p>

      <div class="card m-5">
        <a href="/register/" class="btn btn-lg btn-danger">Register</a>
        <a href="/draws/send" class="btn btn-lg btn-default">My Draws</a>
      </div>
    <!--<a href="/login/" class="btn btn-lg btn-default">Log In</a> TODO Create login -->

      <%if (modal) { %>
        <div class="alert alert-success" role="alert">
          <%=modalText%>
        </div>
        <% } %>
      </div>


<% include partials/right_end %>


    </div>
  </div>
  </body>
  </html>
